body {
    padding-top: 72px;
    padding-bottom: 20px;
    font-family: "Segoe UI", "Yu Gothic UI", "Hiragino Sans", "Noto Sans JP", sans-serif;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.carousel-caption p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0;
}

.carousel-inner .carousel-item img[src$=".svg"] {
    width: 100%;
    height: auto;
}

#qrCode {
    margin: 15px 0;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}
